.inform{
    padding: 0px 60px 30px 60px;
    background-color: #f0f0f0;
    display: flex;
}

.text_box{
    font-size: 2rem;
    text-align: center;
    height: 200px;
  }
  
  .blink {
    animation: blink 0.5s infinite;
    font-size: 2.5rem;
  }
  
  @keyframes blink {
    to {
      opacity: 0;
    }
  }

.title_line {
    border-bottom-color: #f0f0f0;
    border-bottom-style: solid;
}

.about_me_table {
    display: flex;
}

.content {
    margin-left: 20px;
}
