.inform {
    padding: 50px 60px 30px 60px;
    background-color: #f0f0f0;
    display: flex;
}

.box {
    height: 20vh; 
    display:flex; 
    flex-direction:column; 
    justify-content: center; 
    align-items: flex-start;
}

p.result1,p.result2 { 
    display: inline-block; 
    font-size:2rem; 
    height:30px; 
    line-height: 30px; 
    border-right: 1px solid #fff; 
    padding-right: 2px; 
    box-sizing: border-box; 
    padding:0; 
    margin:5px; 
}
  
p.cursor {
    animation: cursor 0.4s infinite;
}
   
@keyframes cursor { 
    0% {
        border-right: 1px solid #fff
    } 
    50% {
        border-right: 1px solid #000
    } 
    100% {border-right: 1px solid #fff
    } 
}

.title_line {
    border-bottom-color: #f0f0f0;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

.about_me_table {
    display: flex;
}

.content, .organ {
    margin-left: 20px;
}

.about_me_wrapper {
    display: flex;
    align-items: end;
}

.months{
    margin-left: 10px;
}

.blog {
    display: flex;
}

.blog_wrapper {
    margin-left: 5px;
}

.name_wrapper {
    display: flex;
}

.name {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}

.english_name {
    font-size: 20px;
    font-weight: bold;
    color: #ff5100;
}

.date, .category, .project_title{
    color: #a1a1a1;
    width: 175px;
}

.content.organ{
    width: 200px;
}

