.inform{
    padding: 0px 60px 30px 60px;
    background-color: #f0f0f0;
    display: flex;
}

.hi{
    color: #ff5100;
}

.title_line {
    border-bottom-color: #f0f0f0;
    border-bottom-style: solid;
}

