<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner">
      <div class="contact-wrapper">
        <i class="fas fa-envelope-square"></i>
        <i class="fab fa-github-square"></i>
      </div>
      <div>{{ site.copyright }} {% if site.author %}@{{ site.author | escape }}{% endif %}</div>
      <div>개발자를 꿈꾸는 학생의 공부 블로그입니다.<br>오류나 수정이 필요한 부분이 있을 경우, 언제든지 연락주십시오! 🙇‍♀️</div>
    </div>
  </div>
</footer>
