  <div id="gitment_thread"></div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
  <script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
  <!-- 
  <script src="https://utteranc.es/client.js"
    repo="Suyeon-B/comments"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>  
  -->
  
  <script>
    var gitment = new Gitment({
      // id: '{{ page.id }}',
      owner: '{{ gitment.username }}',
      repo: '{{ gitment.repo }}',
      oauth: {
        client_id: '{{ gitment.client_id }}',
        client_secret: '{{ gitment.client_secret }}',
      },
    });
    gitment.render('gitment_thread')
  </script>